/* -------------------------------------- MOBILE FIRST ------------------------------------------ */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container_spaced,
.container_centered {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.container_spaced {
  justify-content: space-between;
}

.container_centered {
  justify-content: center;
}

/* ---- header ---- */
.header {
  padding: 48px 0 0 0;
  position: relative;
}

.navMenu {
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0 15px;
}

.navList {  
  display: none; /* Hide on mobile */
}

.navLink,
.navItem {
  font-size: 14px;
  font-weight: 200;
  color: var(--secondary-color);
}

.header_overlay::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3px;
  right: 0;
  background-color: var(--secondary-color);
  opacity: 0.25;
  z-index: 1;
}

.intro_header_title {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 10%;
  font-size: 10px;
  font-weight: 200;
  color: #ffffff;
  opacity: .9;
  text-shadow: var(--secondary-color) 0.5px 0.5px 2px;
  font-style: italic;
  text-align: right;
}

/* --- main ---- */
.main {
  padding: 0;
}

/* <main> grid for Home page --- */
#gridMain {
  display: grid;
  grid-template-areas: 
    "introBoxCenter"
    "introBoxLeft"
    "introBoxRight"
    "bannerHeader"
    "eventsList";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  margin-top: -3px;
}

#introBoxLeft { 
  grid-area: introBoxLeft;
  height: 100%;
}
#introBoxCenter { 
  grid-area: introBoxCenter;
  height: 100%;
}
#intro { 
  grid-area: intro;
}
#introBoxRight { 
  grid-area: introBoxRight;
  height: 100%;
}
#bannerHeader {
  grid-area: bannerHeader;
}
#eventsBoxRight {
  grid-area: eventsBoxRight;
}
#eventsList {
  grid-area: eventsList;
}

.emptyBox,
.emptyBoxLeft,
.emptyBoxRight {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 6px 0px;
}

.containBoxCenter {
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  border-top: 3px solid var(--background-secondary);
}

.introBox {
  padding: 20px 10px;
}

.intro_title {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.intro_title_left {
  text-align: left;
}

.intro_title_right {
  font-size: 16px;
  font-weight: 500;
}

.intro_title_large {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.introList {
  list-style: none;
  padding: 20px 10px 0;
  position: relative;
}

.intro_text {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative;
}

.intro_text_left {
  padding: 0 23px 10px;
  text-align: left;
  font-size: 13px;
}

.intro_text_left::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%) rotate(-25deg);
  width: 16px;
  height: 16px;
  background-image: url('../assets/aircraftsymbol.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.boxAside {
  background-color: var(--background-secondary);
}

.decorBar {
  position: absolute;
  display: block;
  top: -3px;
  width: 24px;
  height: 3px;
  background-color: var(--primary-color-light);
  box-shadow: rgba(0, 0, 0, 0.20) 1px 1px 3px 1px;
}

.innerEmpty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.responsiveImage {
  width: 20px;
  height: 20px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

/* Events - - - */
.eventsList {
  list-style: none;
  padding: 20px 0 15px 5px;
}

.eventsItem {
  border: 1px solid gray;
  padding: 8px 0;
  margin-bottom: 10px;
}

.eventsItemText {
  padding: 0 0 0 10px;
  font-size: 12px;
}

/* <main> grid for Library and Events pages -------- */
#gridLibrary,
#gridEvents {
  display: grid;
  grid-template-areas: 
    "boxMain"
    "asideBoxRight";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  height: 100%;
  margin-top: -3px;
}

.boxMain {
  padding: 20px 15px;
}

/* ------- footer ------ */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(180deg, #4e5560 0%, #383f49 50%, #272e36 100%);
  z-index: 3;
}

.footer_top {
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.footer_bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #FFF;
  color: var(--secondary-color);
  text-align: center;
  min-height: 40px;
  font-size: 11px;
  position: relative;
}

.footer ul li a {
  margin: 6px 0 0 10px;
  font-size: 11px;
  color: #bfbfbf;
}

.footer_par {
  min-height: 30px;
  line-height: 30px;
}

.footer_img {
  position: absolute;
  top: 5px;
  right: 5%;
  max-width: 60px;
}

/* ----------------------------------------------- Tablet styles ----------------------------------------------------- */

@media (min-width: 768px) {
  .container_spaced,
  .container_centered {
    padding: 0 30px;
  }

  .navMenu {
    min-height: 55px;
    padding: 0 20px;
  }

  .navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .navLink,
  .navItem {
    font-size: 15px;
  }

  /* .logo {
    height: 35px;
  } */
  .logoResponsiveImg {
    width: 270px;
    height: 35px;
  }

  .intro_header_title {
    bottom: 80px;
    font-size: 11px;
  }

  #gridMain {
    grid-template-areas: 
      "introBoxCenter introBoxCenter introBoxCenter introBoxCenter"
      "introBoxLeft introBoxLeft introBoxRight introBoxRight"
      "bannerHeader bannerHeader bannerHeader bannerHeader"
      "eventsList eventsList eventsList eventsBoxRight";
    grid-template-rows: auto auto 65px 1fr;
    grid-template-columns: 30% 1fr 1fr 30%;
  }

  .emptyBox,
  .emptyBoxLeft,
  .emptyBoxRight {
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 16px -16px;
  }
  .containBoxCenter {
    height: 65px;
  }
  .emptyBox,
  .emptyBoxLeft,
  .emptyBoxRight,
  .containBoxCenter {
    height: 75px;
  }

  .emptyBoxCenter {
    position: relative;
    display: flex;
    height: 75px;
    align-items: center;
    background-color: #fff;
    border-top: 3px solid var(--background-secondary);
  }

  .borderLeft {
    border-left: 3px solid rgba(213, 213, 220, 0.12);
  }

  .introBox {
    padding: 30px 20px;
  }

  .decorBar {
    width: 28px;
    height: 4px;
  }

  .responsiveImage {
    width: 24px;
    height: 24px;
  }

  .intro_title {
    font-size: 20px;
  }

  .intro_title_right {
    font-size: 17px;
  }

  .intro_title_large {
    font-size: 32px;
  }

  .intro_text {
    font-size: 15px;
  }

  #gridLibrary,
  #gridEvents {
    grid-template-areas: 
      "boxMain asideBoxRight";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 30%;
  }

  .boxMain {
    padding: 30px 25px;
  }

  .footer_top {
    min-height: 135px;
    padding: 20px;
  }

  .footer_bottom {
    min-height: 45px;
    font-size: 12px;
  }

  .footer ul li a {
    font-size: 12px;
  }

  .footer_img {
    max-width: 70px;
  }
}

/* -------------------------------------------- Desktop styles ------------------------------------------------------- */

@media (min-width: 1280px) {

  #gridMain {
    grid-template-areas: 
      "introBoxLeft introBoxCenter introBoxRight"
      "bannerHeader bannerHeader bannerHeader"
      "eventsList eventsList eventsBoxRight";
    grid-template-rows: auto 75px 1fr;
    /* grid-template-rows: 300px 75px 1fr; */
    grid-template-columns: 30% 1fr 30%;
  }

  .container_spaced,
  .container_centered {
    max-width: 1440px;
    padding: 0 40px;
  }

  .navMenu {
    min-height: 60px;
    padding: 0 30px;
  }

  .logoResponsiveImg {
    width: 315px;
    height: 40px;
  }

  .navList {
    gap: 30px;
  }

  .navLink,
  .navItem {
    font-size: 17px;
  }

  .logo {
    height: auto;
  }

  .intro_header_title {
    bottom: 120px;
    right: 15%;
    font-size: 12px;
  }

  .emptyBox,
  .emptyBoxLeft,
  .emptyBoxRight {
    height: 75px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .containBoxCenter {
    height: 75px;
  }

  .introBox {
    padding: 40px 0 0 30px;
  }

  .decorBar {
    width: 32px;
  }

  .responsiveImage {
    width: 28px;
    height: 28px;
  }

  .intro_title_large {
    font-size: 38px;
  }

  .intro_text {
    font-size: 16px;
  }

  .intro_text_left {
    font-size: 14px;
  }

  #gridLibrary,
  #gridEvents {
    grid-template-columns: 1fr 23%;
  }

  .boxMain {
    padding: 40px 20px 30px 40px;
  }

  .footer_top {
    min-height: 150px;
  }

  .footer_bottom {
    min-height: 5%;
    font-size: 12px;
  }

  .footer ul li a {
    margin: 8px 0 0 15px;
    font-size: 12px;
  }

  .footer_par {
    min-height: 35px;
    line-height: 35px;
  }

  .footer_img {
    top: 0;
    right: 7%;
  }
}