/* -------------------------------------- MOBILE FIRST ------------------------------------------ */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container_spaced,
.container_centered {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.container_spaced {
  justify-content: space-between;
}

.container_centered {
  justify-content: center;
}

/* ---- header ---- */
.header {
  padding: 48px 0 0 0;
  position: relative;
}

.nav {
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0 15px;
}

.nav__list_top {  
  display: none; /* Hide on mobile */
}

.nav__list_bottom {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav__item {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 0;
  color: var(--secondary-color);
  font-weight: 200;
  position: relative;
  transition: all 0.5s;
}

.nav__item_link {
  margin-right: 15px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 200;
}

.nav__item_link:hover {
  color: var(--primary-color-dark);
  transition: .7s linear;
}

.nav__item::before {
  position: relative;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 0.25px;
  background: var(--primary-color-dark);
  transform: scaleX(0);
  transition: transform 0.7s ease-in-out;
  transform-origin: left center;
  transition: all 0.6s;
}
.nav__item:hover::before {
  transform: scaleX(0.75);
  opacity: .25;
}
.nav__item.Active {
  margin-right: 0;
  position: relative;
}
.nav__item.Active::before {
  position: relative;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 0.25px;
  background: var(--secondary-color);
  opacity: .25;
  transform: scaleX(0.75);
}

.nav__item_link.active__burger {
  /* margin-right: 0; */
  position: relative;
  font-weight: 700;
}

/* --- Burger styles -------------------------- */
.burger_button {
  display: block;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger__icon,
.burger__icon::before,
.burger__icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.burger__icon::before {
  transform: translateY(-8px);
}

.burger__icon::after {
  transform: translateY(5px);
}

.nav__list_type_burger {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: right;
  background-color: #f8f8f8;
  opacity: .95;
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
}

.nav__list_type_burger.open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__list_type_burger li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.nav__list_type_burger li:last-child {
  border-bottom: none;
}

.nav__list_type_burger a {
  text-decoration: none;
  color: #333;
}
/* --------------------------------- */

.header__overlay::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3px;
  right: 0;
  background-color: var(--secondary-color);
  opacity: 0.25;
  z-index: 1;
}

.header__intro_title {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 10%;
  font-size: 10px;
  font-weight: 200;
  color: #ffffff;
  opacity: .9;
  text-shadow: var(--secondary-color) 0.5px 0.5px 2px;
  font-style: italic;
  text-align: right;
}

/* --- main ---- */
.main {
  padding: 0;
}

/* <main> grid for Home page --- */
#grid_main {
  display: grid;
  grid-template-areas: 
    "intro__box_center"
    "intro__box_left"
    "introBoxRight"
    "banner_header"
    "events_list";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  margin-top: -3px;
}

#intro__box_left { 
  grid-area: intro__box_left;
  height: 100%;
}
#intro__box_center { 
  grid-area: intro__box_center;
  height: 100%;
}
#intro { 
  grid-area: intro;
}
#introBoxRight { 
  grid-area: introBoxRight;
  height: 100%;
}
#banner_header {
  grid-area: banner_header;
}
#aside_events {
  grid-area: aside_events;
}
#events_list {
  grid-area: events_list;
}

.box__content {
  padding: 0 15px 40px;
}

.box__content_main {
  padding: 40px 15px;
}

.empty__box_center {
  position: relative;
  display: flex;
  height: 65px;
  align-items: center;
}

.emptyBox,
.empty__box_left,
.empty__box_right {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 6px 0px;
}

.decor_bar {
  position: absolute;
  display: block;
  top: -3.5px;
  width: 28px;
  height: 3.5px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.20) 1px 1px 3px 1px;
}

.decorBarLarge {
  top: 5px;
  width: 72px;
  height: 5px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.20) 1px 2px 4px 1px;
}

.box__content_center {
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  border-top: 4px solid var(--background-secondary);
}

.introBox {
  padding: 20px 10px;
}

.intro_title {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.intro_main_title {
  display: flex;
  padding-top: 10px;
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.intro_main_subtitle {
  display: flex;
  padding: 25px 25px 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 80%;
  text-align: left;
}
.intro_main_subtitle_colored {
  max-width: 95%;
  color: var(--primary-color);
}
.intro_main_subtitle_dark {
  color: #060607;
}

.intro_main_subtitle_secondary {
  display: flex;
  padding: 15px 25px 0;
  font-size: 17px;
  line-height: 1.1;
  font-weight: 400;
  max-width: 80%;
  text-align: left;
}

.intro_title__left {
  text-align: left;
}

.intro_title_right {
  font-size: 16px;
  font-weight: 500;
}

.intro_title_large {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}

.intro__list {
  list-style: none;
  position: relative;
}

.intro__text {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative;
}

.intro__text_left {
  padding: 0 23px 10px;
  text-align: left;
  font-size: 13px;
}

.intro__text_left::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%) rotate(-25deg);
  width: 16px;
  height: 16px;
  background-image: url('../assets/aircraftsymbol.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.aside_box {
  background-color: var(--background-secondary);
}

.empty__inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.innerBoxContent {
  display: flex;
  flex-direction: column;
  padding: 55px 0;
}

.img__responsive_square {
  width: 20px;
  height: 20px;
}

.imgIataStripes {
  width: 100%;
  height: 85px;
  opacity: .5;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

/* Events - - - */
.events_list {
  list-style: none;
  padding: 20px 0 15px 5px;
}

.events__item {
  border: 1px solid gray;
  padding: 8px 0;
  margin-bottom: 10px;
}

.events__item_text {
  padding: 0 0 0 10px;
  font-size: 12px;
}

/* ----- <main> grid for Library and Events pages --------- */
#grid_library,
#grid_events {
  display: grid;
  grid-template-areas:
    "aside_box__right"
    "main_box";
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  height: fit-content;
  margin-top: -3px;
}

#aside_box__right { 
  grid-area: aside_box__right;
  height: fit-content;
}

#main_box { 
  grid-area: main_box;
  height: 100%;
}

.paragraph_text {
  padding: 20px 35px;
  text-align: left;
  font-size: 13px;
}

/* ------- footer ------ */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(180deg, #4e5560 0%, #383f49 50%, #272e36 100%);
  z-index: 3;
}

.footer__top {
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.footer__bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #FFF;
  color: var(--secondary-color);
  text-align: center;
  min-height: 40px;
  font-size: 11px;
  position: relative;
}

.footer ul li a {
  margin: 6px 0 0 10px;
  font-size: 11px;
  color: #bfbfbf;
}

.footer__par {
  min-height: 30px;
  line-height: 30px;
}

.footer__img {
  position: absolute;
  top: 5px;
  right: 5%;
  max-width: 60px;
}

/* ----------------------------------------------- Tablet styles ----------------------------------------------------- */

@media (min-width: 768px) {
  .container_spaced,
  .container_centered {
    padding: 0 30px;
  }

  .nav {
    min-height: 55px;
    padding: 0 20px;
  }

  .nav__list_top {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .nav ul li {
    margin: 0;
    padding: 0;
  }

  .nav__item_link,
  .nav__item {
    font-size: 15px;
  }

  /* .logo {
    height: 35px;
  } */
  .logoResponsiveImg {
    width: 270px;
    height: 35px;
  }

  .burger_button {
    display: none;
  }

  .nav__list_type_burger {
    display: none;
  }

  .header__intro_title {
    bottom: 80px;
    font-size: 11px;
  }

  #grid_main {
    grid-template-areas: 
      "intro__box_center intro__box_center intro__box_center intro__box_center"
      "intro__box_left intro__box_left introBoxRight introBoxRight"
      "banner_header banner_header banner_header banner_header"
      "events_list events_list events_list aside_events";
    grid-template-rows: auto auto 65px 1fr;
    grid-template-columns: 30% 1fr 1fr 30%;
  }

  .introBox {
    width: 50%;
  }

  .emptyBox,
  .empty__box_left,
  .empty__box_right {
    height: 75px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 16px -16px;
  }
  .box__content_center {
    height: 75px;
  }

  .aside_box {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }

  .aside_box__events {
    box-shadow: var(--primary-color) 0 3px 2px 0px;
  }

  .borderLeft {
    border-left: 3px solid rgba(213, 213, 220, 0.12);
  }

  .introBox {
    padding: 30px 20px;
  }

  .img__responsive_square {
    width: 24px;
    height: 24px;
  }

  .imgIataStripes {
    width: 100%;
  }

  .intro_main_title {
    font-size: 32px;
  }
  
  .intro_main_subtitle {
    font-size: 19px;
    max-width: 70%;
  }
  .intro_main_subtitle_colored {
    max-width: 95%;
    color: var(--primary-color);
  }
  
  .intro_main_subtitle_secondary {
    font-size: 19px;
    max-width: 70%;
  }
  
  .intro_title {
    font-size: 20px;
  }

  .intro_title_right {
    font-size: 17px;
  }

  .intro_title_large {
    font-size: 32px;
  }

  .intro__text {
    width: 50%;
    text-align: left;
    font-size: 15px;
  }

  #grid_library,
  #grid_events {
    grid-template-areas: 
      "main_box aside_box__right";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 30%;
  }

  #aside_box__right { 
    height: 100%;
  }

  .box__content {
    padding: 40px 15px;
  }

  .footer__top {
    min-height: 135px;
    padding: 20px;
  }

  .footer__bottom {
    min-height: 45px;
    font-size: 12px;
  }

  .footer ul li a {
    font-size: 12px;
  }

  .footer__img {
    max-width: 70px;
  }
}

/* -------------------------------------------- Desktop styles ------------------------------------------------------- */

@media (min-width: 1280px) {

  #grid_main {
    grid-template-areas: 
      "intro__box_left intro__box_center introBoxRight"
      "banner_header banner_header banner_header"
      "events_list events_list aside_events";
    grid-template-rows: auto 75px 1fr;
    /* grid-template-rows: 300px 75px 1fr; */
    grid-template-columns: 30% 1fr 30%;
  }

  .container_spaced,
  .container_centered {
    max-width: 1440px;
    padding: 0 40px;
  }

  .nav {
    min-height: 60px;
    padding: 0 30px;
  }

  .logoResponsiveImg {
    width: 315px;
    height: 40px;
  }

  .nav__list {
    gap: 30px;
  }

  .nav__item_link,
  .nav__item {
    font-size: 17px;
  }

  .logo {
    height: auto;
  }

  .header__intro_title {
    bottom: 120px;
    right: 15%;
    font-size: 12px;
  }

  .emptyBox,
  .empty__box_left,
  .empty__box_right {
    height: 75px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .box__content_center {
    height: 75px;
  }

  .box__content {
    padding: 40px 15px;
  }

  .introBox {
    padding: 40px 0 0 30px;
  }

  .img__responsive_square {
    width: 28px;
    height: 28px;
  }

  .intro_title_large {
    font-size: 38px;
  }

  .intro__text {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .intro__text_left {
    text-align: left;
    font-size: 14px;
  }

  .intro_main_title {
    font-size: 36px;
  }
  
  .intro_main_subtitle {
    font-size: 21px;
  }
  
  .intro_main_subtitle_secondary {
    font-size: 21px;
  }

  #grid_library,
  #grid_events {
    grid-template-columns: 1fr 23%;
  }

  .footer__top {
    min-height: 150px;
  }

  .footer__bottom {
    min-height: 5%;
    font-size: 12px;
  }

  .footer ul li a {
    margin: 8px 0 0 15px;
    font-size: 12px;
  }

  .footer__par {
    min-height: 35px;
    line-height: 35px;
  }

  .footer__img {
    top: 0;
    right: 7%;
  }
}